[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "COMPASS"]
	path = COMPASS
	url = https://github.com/rglab/compass
[submodule "CytoML"]
	path = CytoML
	url = https://github.com/rglab/cytoml
[submodule "ImmuneSpaceR"]
	path = ImmuneSpaceR
	url = https://github.com/rglab/immunespacer
[submodule "MAST"]
	path = MAST
	url = https://github.com/rglab/mast
[submodule "flowStats"]
	path = flowStats
	url = https://github.com/rglab/flowstats
[submodule "ggcyto"]
	path = ggcyto
	url = https://github.com/rglab/ggcyto
[submodule "pepStat"]
	path = pepStat
	url = https://github.com/rglab/pepstat
